* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}
h1{
  text-align: center;
  padding: 1em;
}
.contenedor {
  width:90vw;
  max-width: 1000px;
  margin: 4px auto 100px auto;
  
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
  /* grid-template-columns: repeat(4,1fr); */
  gap: 3.8em;
}
.contenedor .pelicula{
  text-align: center;
}
.contenedor .pelicula .titulo{
  font-size: 16px;
}
.contenedor .pelicula .poster {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*Paginacion*/
.paginacion{
  width: 100%;
  background: #100a1f;
  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.paginacion button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11.1em;
  height: 2.8em;
  background: #241744;
  color: #fff;
  border-radius: 100px;
  font-weight: 600;
  transition: .3s ease all;
  cursor: pointer;
  border: none;
}
.paginacion button:hover{
  background: #137c32;
}